body {
    background-image: url(../img/about-bg.png);
    background-attachment: fixed;
    background-size: cover;
}

.padding{
    padding:300px;
}

.about {
    padding: 100px;
    color: #4d4d4d;
    background-color: #ffffff;
}
.about p {
    line-height: 2rem;
}